---
import GitHubLogo from "./assets/github.svg";
import TelegramLogo from "./assets/telegram.svg";
import VKLogo from "./assets/VK.svg";

const logoSize = 36;
---

<style>
  .links {
    display: flex;
    gap: var(--space-8);
    justify-content: center;
  }

  .link > svg {
    transition: scale 0.3s;
  }

  .link > svg:hover {
    scale: 1.1;
  }
</style>

<ul class="links">
  <li>
    <a href="https://github.com/atlz253" title="GitHub" class="link"
      ><GitHubLogo width={logoSize} height={logoSize} /></a
    >
  </li>
  <li>
    <a href="https://t.me/+ONmOoTgmeDgxOWYy" title="Telegram" class="link"
      ><TelegramLogo width={logoSize} height={logoSize} /></a
    >
  </li>
  <li>
    <a href="https://vk.com/falexeev2014" title="VK" class="link"
      ><VKLogo width={logoSize} height={logoSize} /></a
    >
  </li>
</ul>
